@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@layer base {

  header .links a {
    @apply  duration-200 w-max h-[30px];
    &:hover {
      @apply border-[#ECD825] pb-2 border-b-4 border-solid -translate-y-2;
    }

  }
  header div.desktop a{
    @apply flex justify-center items-center;
  }
  body {
    @apply font-default;
  }

  .storenavbutton {
    @apply flex justify-center py-4 capitalize px-8 items-center rounded-2xl;
  }

  .faqcard {
    @apply hover:bg-black flex flex-col justify-center items-center duration-200 rounded-3xl bg-[#F8F8F8] p-5 hover:text-white;
  }
  .burger {
    @apply w-8 md:hidden cursor-pointer relative flex flex-col gap-2 justify-center items-center;
    .line {
      @apply w-full duration-500 h-0.5 bg-black  rounded-3xl;
    }
    &.active .line{
      @apply duration-500 absolute top-1/4 w-full;
      transform: translate(-50%, -50%);
      &:nth-child(1){
        @apply rotate-45;
      }
      &:nth-child(2){
        @apply rotate-[135deg];
      }
      &:nth-child(3){
        @apply scale-0;
      }
    }
  }
}
body,#root{
  height: 100%;
  width: 100%;
}
html{
  width: 100% !important;
}
#root{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main{
  overflow: hidden;
}
.swiper {
  width: 100%;
  height: 65vh;
  overflow: hidden;
}
.marquee{
  @apply animate-marquee;
}
abbr[title]{
  text-decoration: none !important;
  appearance: none;
  border: none;
}
.swiper-slide {
  user-select: none !important;
  text-align: center;
  width: 100%;
  font-size: 18px;
 /*  overflow: hidden !important; */
  background: #fff;
  @apply rounded-3xl;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide video {
  display: block;
  width: 100%;
  height: 100%;
  @apply rounded-3xl;
  object-fit: fill;
}
.s
.spacer{
  @apply block;
}

.pin::after{
  content: "";
  @apply top-0 animate-ping absolute right-0 h-2 w-2 rounded-full bg-green-600;
}
.pin{
  @apply relative;
}
.swiper-pagination{
  left: 50% !important;
  bottom: -35px !important;
  transform: translate(-50%, 0) !important;
  width: fit-content !important;
  background-color: #CCCCCC !important;
  
  @apply bg-[#F8F8F8] px-4 rounded-lg;
  .swiper-pagination-bullet{
    background: grey !important;
  }
  .swiper-pagination-bullet-active{
    background: white !important;
  }
}

.video{
  position: relative;
  div{
    background-color: rgba(0, 0, 0, 0.368);
    position: absolute;
    @apply rounded-3xl;
    left: 0;
    top: 0;
    color: white;
  }
}
